<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>footer</title>
    </head>
    <body>
        <div th:fragment="footer">
            <!--Footer -->
            <div class="col-md-12 footer-box">

                <div class="row">
                    <div class="col-md-4">
                        <strong>Phản hồi </strong>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <strong>Địa chỉ thư viện</strong>
                        <hr>
                        <p>
                            259, Hàm Nghi Street,<br />
                            5 District ,TPHCM, VietNam<br />
                            Call: +84-456-567-890<br>
                            Email: gstteam@gmail.com<br>
                        </p>

                        2016 XYZ All Right Reserved
                    </div>
                    <div class="col-md-4 social-box">
                        <strong>Liên lạc</strong>
                        <hr>
                        <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                        <p>
                            thư viện trường Đại học XYZ TPHCM
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            <!--Footer end -->
            <!--javascript-->

            <!--javascript-->
        </div>
    </body>
</html>