<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>header</title>
    </head>
    <body>
        <div th:fragment="header">
            <!--Navbar-->

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/home/index}"><strong>XYZ University</strong> Library</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a  th:href="@{/home/index}">Trang chủ</a></li>
                            <li><a  th:href="@{/home/simplesearchbook}">Tra cứu sách</a></li>
                            <li th:if="${session.readerid} != null"><a  th:href="@{/home/bookorder}">Đặt mua sách</a></li>
                            <li><a th:href="@{/home/Help}">Trợ giúp</a> </li>
                            <li th:if="${session.readerid} != null"><a th:href="@{/home/Profile}">Thông tin cá nhân</a></li>
                            <li  th:if="${session.readerid} != null"><a th:href="@{/home/BookReservation}">Mượn sách</a></li>
                            <li  th:if="${session.readerid} != null"><a th:href="@{/logout}">Đăng xuất</a></li>
                            <!--<li class="dropdown">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">24x7 Support <b class="caret"></b></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#"><strong>Call: </strong>+09-456-567-890</a></li>-->
                                    <!--<li><a href="#"><strong>Mail: </strong>info@yourdomain.com</a></li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"><strong>Address: </strong>-->
                                        <!--<div>-->
                                            <!--234, New york Street,<br />-->
                                            <!--Just Location, USA-->
                                        <!--</div>-->
                                    <!--</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        </ul>
                        <!--<form class="navbar-form navbar-right">-->
                            <!--<div class="input-group form-group">-->
                                <!--<input type="text" class="form-control" placeholder="Search for...">-->
                                <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>-->
                                <!--</span>-->
                            <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                        <!--</form>-->
                    </div>

                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

    </body>
</html>