<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="template/layout :: page">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <form class="form-horizontal" role="form" th:action="@{/home/order}"   enctype="multipart/form-data"  th:method="POST">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Đặt mua sách</legend>

                        <!--tên sách-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="tensach">Tên sách</label>
                            <div class="col-sm-8">
                                <input required="required" name="booktitle" id="tensach" type="text" placeholder="Tên sách" class="form-control">
                            </div>
                        </div>

                        <!-- Thể loại-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="theloai">Thể loại</label>
                            <div id="theloai" class="col-sm-8">
                                <div class="dropdown">
                                    <input required="required" name="category" id="theloai" type="text" placeholder="Thể loại" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- Tác giả-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="tacgia">Tác giả</label>
                            <div id="tacgia" class="col-sm-8">
                                <div class="dropdown  ">
                                    <input required="required" name="author" id="tacgia" type="text" placeholder="Tác giả" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- nhà xuất bản-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="nhaxuatban">Nhà xuất bản</label>
                            <div id="nhaxuatban" class="col-sm-8">
                                <div class="dropdown ">
                                    <input required="required" name="publisher" id="nxb" type="text" placeholder="Nhà xuất bản" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- Số lượng-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="nhaxuatban">Số lượng</label>
                            <div id="Soluong" class="col-sm-8">
                                <div class="dropdown ">
                                    <input required="required" name="quantity" id="quantity" type="number"  class="form-control">
                                </div>
                            </div>
                        </div>

                        <!-- File Excel-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="nhaxuatban">Tập tin đính kèm</label>
                            <div id="Taptindinhkem" class="col-sm-8">
                                <div class="dropdown ">
                                    <input name="filedinhkem" id="file" type="file"  class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert">Nếu đặt mua sách trên 2 cuốn thì <a style="color: red" th:href="@{/download}">download</a> file mẫu ,điền đầy đủ thông tin và gừi file excel đính kèm </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <button type="submit" class="btn btn-primary">Order</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div><!-- /.col-lg-12 -->
            <div class="col-md-2"></div>
        </div>
    </body>
</html>