<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="template/layout :: page">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" id="alert">
                    <div class="alert " th:classappend="${success}==1?'alert-success':'alert-danger'" role="alert" th:if="${alert}!=null" th:text="${alert}"></div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <section id="login">
                    <!--<div class="col-md-3"></div>-->
                    <div class="col-md-12">
                        <div class="form-wrap">
                            <h1>Đổi mật khẩu</h1>
                            <form role="form" th:action="@{/home/change}" th:method="post" id="login-form" autocomplete="off">
                                <div class="form-group">
                                    <label for="OldPass" class="sr-only">Mật khẩu cũ</label>
                                    <input required="required" type="text" name="oldpass" id="OldPass" class="form-control" placeholder="Mật khẩu cũ">
                                </div>
                                <div class="form-group">
                                    <label for="NewPass" class="sr-only">Mật khẩu mới</label>
                                    <input required="required" type="password" name="newpass" id="NewPass" class="form-control" placeholder="Mật khẩu mới">
                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPass" class="sr-only">Xác nhận mật khẩu</label>
                                    <input required="required" type="password" name="passconfirm" id="ConfirmPass" class="form-control" placeholder="Xác nhận mật khẩu">
                                </div>
                                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Đổi mật khẩu">
                            </form>
                            <hr>
                        </div>
                    </div>
                    <!--<div class="col-md-3"></div>-->
                </section>
            </div><!--.row-->
            <script th:src="@{/js/jquery-3.1.1.min.js}"></script>

        </div>
    </body>
</html>